Repository duxcore/duxcore, pull requests merged in 2021-11, with the labels that each got.

#34 Wrapper user implementation
  core/package.json
  core/src/api/routes/users.ts
  core/src/helpers/apiError.ts
  dashboard/src/context/AxiosProvider.tsx
  dashboard/src/context/WrapperProvider.tsx
  dashboard/src/lib/axiosInstance.ts
  dashboard/src/modules/account/AccountPage.tsx
  dashboard/src/modules/auth/AuthProvider.tsx
  dashboard/src/modules/auth/login/LoginForm.tsx
  dashboard/src/modules/auth/login/LoginPage.tsx
  dashboard/src/modules/auth/register/RegisterForm.tsx
  dashboard/src/modules/auth/useHasToken.ts
  dashboard/src/modules/auth/useTokenStore.ts
  dashboard/src/pages/_app.tsx
  dashboard/src/pages/account/index.tsx
  wrapper/src/index.ts
  wrapper/src/lib/api/user.ts
  wrapper/src/lib/axiosInstance.ts
  wrapper/src/types/user.ts
  yarn.lock
Labels: enhancement, wrapper, core

#35 Add `user.edit` & UserEdit interface
  wrapper/src/index.ts
  wrapper/src/lib/api/user.ts
  wrapper/src/types/user.ts
Labels: wrapper

#39 feat(wrapper): add password reset & collections
  wrapper/src/index.ts
  wrapper/src/lib/api/serviceCollections.ts
  wrapper/src/lib/api/user.ts
  wrapper/src/types/serviceCollections.ts
Labels: wrapper

#41 feat(dashboard): added a header (+ accessibility)
  dashboard/public/logo-full.svg
  dashboard/public/logo.svg
  dashboard/src/components/Layout.tsx
  dashboard/src/components/forms/Button.tsx
  dashboard/src/components/forms/DropdownButton.tsx
  dashboard/src/components/header/AccountDrop.tsx
  dashboard/src/components/header/Header.tsx
  dashboard/src/styles/globals.css
  dashboard/tailwind.config.js
Labels: dashboard

#45 Add server-side redirects
  website/next.config.js
  website/src/pages/discord.tsx
  website/src/pages/index.tsx
Labels: website

#44 Dockerize webiste
  website/Dockerfile
  website/docker-compose.yml
Labels: website
