Repository duxcore/duxcore, pull requests merged in 2021-07, with the labels that each got.

#25 feat: complete registration
  .deployment.json
  .dockerignore
  Dockerfile
  backend/.eslintrc
  backend/.eslintrc.js
  backend/.gitignore
  backend/package.json
  backend/src/api/manifest.ts
  backend/src/api/routes/user/getUsername.ts
  backend/src/api/routes/user/username.ts
  backend/src/api/routes/user/users.ts
  backend/src/lib/reserveUsername.ts
  backend/src/lib/testUsername.ts
  backend/src/lib/users.ts
  backend/src/types/user.ts
  backend/src/util/prisma/duxcore.prisma
  docker-compose.yml
  frontend/package.json
  frontend/src/modules/captcha/FormComponent.tsx
  frontend/src/modules/registration-page/RegistrationPage.tsx
  frontend/src/modules/registration-page/RegistrationSchema.ts
  frontend/src/pages/register.tsx
  frontend/src/styles/globals.css
  package.json
  wrapper/package.json
  wrapper/src/lib/rest/restUser.ts
  wrapper/src/lib/ws/user.ts
  wrapper/src/types/restUser.ts
  wrapper/src/util/constraints.ts
  wrapper/src/wrapper.ts
  yarn.lock
Labels: backend, wrapper

#28 Add cool new vscode badge
  README.md
Labels: documentation

#30 chore(backend): remove duplicate entry from `package.json`
  backend/package.json
Labels: backend
