Repository duxcore/duxcore, pull requests merged in 2021-12, with the labels that each got.

#47 Implement Server Monitor API Routes
  wrapper/src/lib/api/serverMonitors.ts
  wrapper/src/types/serverMonitors.ts
  wrapper/src/types/serviceCollections.ts
Labels: wrapper

#48 New layout
  dashboard/next.config.js
  dashboard/package.json
  dashboard/public/profilePlaceholder.png
  dashboard/src/components/Layout.tsx
  dashboard/src/components/PreLoader.tsx
  dashboard/src/components/forms/DropdownButton.tsx
  dashboard/src/components/header/Header.tsx
  dashboard/src/components/layout/AccountDrop.tsx
  dashboard/src/components/layout/Header.tsx
  dashboard/src/components/layout/Sidebar.tsx
  dashboard/src/components/layout/SidebarButton.tsx
  dashboard/src/components/serviceCollections/CollecitonsBox.tsx
  dashboard/src/components/serviceCollections/CollectionsArray.tsx
  dashboard/src/modules/account/AccountPage.tsx
  dashboard/src/modules/auth/AuthProvider.tsx
  dashboard/src/modules/auth/login/LoginPage.tsx
  dashboard/src/modules/collection/ViewCollectionPage.tsx
  dashboard/src/modules/home/HomePage.tsx
  dashboard/src/modules/title.ts
  dashboard/src/pages/_app.tsx
  dashboard/src/pages/_document.tsx
  dashboard/src/pages/collection/[collection].tsx
  dashboard/src/pages/marketplace.tsx
  dashboard/src/pages/profile/billing/index.tsx
  dashboard/src/pages/profile/index.tsx
  dashboard/src/styles/layout.module.css
  dashboard/src/types/PageComponent.ts
  dashboard/tailwind.config.js
  yarn.lock
Labels: dashboard

#51 Overhaul core process allocation
  .docker/.gitignore
  .docker/core/pgsql-docker-compose.yml
  .github/workflows/build-backend.yml
  commitlint.config.js
  core/.env.example
  core/README.md
  core/docker-compose.yml
  core/package.json
  core/prisma/duxcore.prisma
  core/scripts/generateKeys.ts
  core/src/index.ts
  core/src/master.ts
  core/src/tools/createNode.ts
  core/src/util/cryptr.ts
  yarn.lock
Labels: backend, core
