Repository duxcore/duxcore, pull requests merged in 2022-05, with the labels that each got.

#70 ci(core): fix ci core build failure
  .github/workflows/build.yml
  core/.slave-deployment.json
  core/package-lock.json
  core/src/index.ts
  dashboard/next-env.d.ts
  dashboard/package.json
  package.json
  website/next-env.d.ts
  website/package.json
  website/src/pages/404.tsx
  website/src/pages/index.tsx
  website/tsconfig.json
  wrapper/package.json
  yarn.lock
Labels: website, wrapper, core, dashboard

#72 chore(core): removed api node code
  core/package.json
  core/prisma/duxcore.prisma
  core/src/tools/createNode.ts
Labels: core

#73 refactor: change all references of a service collection to a project
  .docker/core/redis/dump.rdb
  core/prisma/duxcore.prisma
  core/src/api/routes/monitors/servers/servers.ts
  core/src/api/routes/services/base.ts
  core/src/api/routes/services/projects.ts
  core/src/api/routes/services/services.ts
  core/src/api/routes/stats.ts
  core/src/classes/ServerMonitorManager.ts
  core/src/classes/projectManager.ts
  core/src/helpers/apiError.ts
  core/src/index.ts
  core/src/lib/monitoring.ts
  core/src/lib/projects.ts
  core/src/lib/serviceCollections.ts
  dashboard/src/components/Projects/ProjectBox.tsx
  dashboard/src/components/Projects/ProjectsArray.tsx
  dashboard/src/components/serviceCollections/CollectionsArray.tsx
  dashboard/src/modules/home/HomePage.tsx
  dashboard/src/modules/project/ViewProjectPage.tsx
  dashboard/src/pages/collection/[collection].tsx
  dashboard/src/pages/project/[page].tsx
  wrapper/src/index.ts
  wrapper/src/lib/api/projects.ts
  wrapper/src/types/projects.ts
  wrapper/src/types/serverMonitors.ts
  wrapper/src/types/serviceCollections.ts
Labels: wrapper, core, dashboard

#75 docs(core): fix typo
  core/scripts/generateKeys.ts
Labels: core

#77 merge daemon code into my branch
  .github/workflows/build.yml
  .gitignore
  CODEOWNERS
  Cargo.lock
  Cargo.toml
  daemon/.gitignore
  daemon/Cargo.toml
  daemon/README.md
  daemon/docs/attach-example.js
  daemon/docs/ftp.md
  daemon/docs/http.md
  daemon/docs/stats-example.js
  daemon/docs/ws.md
  daemon/src/api/docker_image.rs
  daemon/src/api/error.rs
  daemon/src/api/mod.rs
  daemon/src/api/service.rs
  daemon/src/client.rs
  daemon/src/corekey.rs
  daemon/src/ftp/auth.rs
  daemon/src/ftp/mod.rs
  daemon/src/ftp/storage.rs
  daemon/src/ftp/user.rs
  daemon/src/main.rs
  daemon/src/util.rs
  daemon/src/websocket.rs
Labels: daemon
